<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
    <!-- //icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" href="../public/css/NGO-Dashboard.css">


    <title>NGO DashBoard</title>
</head>

<body>
    <!-- Adityas Start -->


    <section class="dashboard">
        <div class="top">
            <div class="menu-icon" onclick="toggleMenu()">
                <i class="uil uil-bars"></i>
            </div>
            <div class="dash">DashBoard</div>
            <div class="Left-name">Welcome, <%= fullName %>!</div>


        </div>
        <hr class="top-border">
        <section class="Profile-sec">
            <div class="Donatebox">
                <div class="NAME-block">
                    <h4 class="User-Name">Full Name: <%= fullName %>
                    </h4>
                    <h4 class="User-Email">Email: <%= email %>
                    </h4>
                    <h4 class="User-Phone">Phone No: <%= phoneNo %>
                    </h4>
                    <h4 class="User-Adderss">Address: <%= address %>
                    </h4>
                </div>
            </div>
        </section>
        <section class="NGO-sec" style="display: none;">
            <h2 style="text-align: center; margin-bottom: 2rem;">Pending Donation Pickup : <%= (Donation.filter(user=>
                    user.foodInventory.length !== 0 && user.approved == false)).length %></h2>
            <div>
                <ul class="donor-list">
                    <% Donation.forEach(user=> { %>
                        <% if(!user.approved && user.foodInventory.length !==0 ){%>
                            <li class="donor-item">
                                <div class="donor-details">
                                    <p class="donor-name">Name : <%= user.fullName %>
                                    </p>
                                    <p class="donor-location"> Flat no :<%= user.flatNo %>
                                    </p>
                                    <p class="donor-location">Address-1 :<%= user.addressLine1 %>
                                    </p>
                                    <p class="donor-location">Address-2 :<%= user.addressLine2 %>
                                    </p>
                                    <p class="donor-location">City :<%= user.city %>
                                    </p>
                                    <p class="donor-location"> State <%= user.state %>
                                    </p>
                                    <p class="donor-location">Pin : <%= user.zip %>
                                    </p>
                                    <p class="donor-location">
                                        <% user.foodInventory.forEach(item=> { %>
                                            <p> Itmes<%= item.foodItem %>
                                            </p>
                                            <p>Quintity <%= item.quantity %>
                                            </p>
                                            <% }); %>
                                    </p>
                                </div>
                                <div class="donor-actions">
                                    <form action="/approve-donation/<%= user.email %>/<%= email %>" method="POST">
                                        <button class="btn-accept">Accept</button>
                                    </form>
                                    <form action="/delete-details/<%= user.email %>/<%= email %>" method="POST">
                                        <button class="btn-decline">Decline</button>
                                    </form>

                                </div>
                            </li>
                            <%}%>
                                <% }); %>
                </ul>
            </div>

            <!-- DISPLAYING ACCEPTED USER REQUEST -->
            <h2 style="text-align: center; margin-bottom: 2rem;">Active Donation Pickup : <%= (Donation.filter(user=>
                    user.approved == true && user.foodInventory.length !== 0)).length %></h2>
            <div>
                <ul class="donor-list">
                    <% Donation.forEach(user=> { %>
                        <% if(user.approved && user.foodInventory.length !==0 ){%>
                            <li class="donor-item">
                                <div class="donor-details">
                                    <p class="donor-name">Name : <%= user.fullName %>
                                    </p>
                                    <p class="donor-location"> Flat no :<%= user.flatNo %>
                                    </p>
                                    <p class="donor-location">Address-1 :<%= user.addressLine1 %>
                                    </p>
                                    <p class="donor-location">Address-2 :<%= user.addressLine2 %>
                                    </p>
                                    <p class="donor-location">City :<%= user.city %>
                                    </p>
                                    <p class="donor-location"> State <%= user.state %>
                                    </p>
                                    <p class="donor-location">Pin : <%= user.zip %>
                                    </p>
                                    <p class="donor-location">
                                        <% user.foodInventory.forEach(item=> { %>
                                            <p> Itmes<%= item.foodItem %>
                                            </p>
                                            <p>Quintity <%= item.quantity %>
                                            </p>
                                            <% }); %>
                                    </p>

                                </div>
                                <div class="donor-actions">
                                    <form action="/delete-details/<%= user.email %>/<%= email %>" method="post">
                                        <button class="btn-decline">Done</button>
                                    </form>

                                </div>
                            </li>
                            <%}%>
                                <% }); %>
                </ul>
            </div>
        </section>

        <section class="donation" style="display: none;">
            <div class="container">
                <div class="form-container">
                    <h2>Donation Form</h2>
                    <form id="donationForm" action="/add-details" method="post">
                        <label for="flatNo">Flat/Door/Building No.:</label>
                        <input type="text" id="flatNo" name="flatNo" required>
                        <label for="addressLine1">Street/Locality:</label>
                        <input type="text" id="addressLine1" name="addressLine1" required>
                        <label for="addressLine2">Area/Landmark (Optional):</label>
                        <input type="text" id="addressLine2" name="addressLine2">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" required>
                        <label for="state">State:</label>
                        <select id="state" name="state" required>
                            <option value="">Select State</option>
                            <!-- Add options for states here -->
                        </select>
                        <label for="zip">ZIP/Postal Code:</label>
                        <input type="text" id="zip" name="zip" required>

                        <h3>Food Inventory</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Food Item</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" name="foodItem" required></td>
                                    <td><input type="number" name="quantity" min="1" required></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex; justify-content: center;">
                            <button type="button" class="button" onclick="addRow()">Add New Item</button>
                            <button type="button" class="button" onclick="deleteRow()">Delete Row</button>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <button class="button" type="submit">Donate</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <section class="Complains-sec" style="display: none; margin-top: 2rem;">
            <div style="display: flex; justify-content: space-evenly;">
                <form action="" method="post">
                    <label for="Doner">Doner Name</label>
                    <input type="text" name="Doner" id="">
                    <label for="Complain">Issue</label>
                    <input type="text" name="Issue" id="" placeholder="Issue">
                </form>
            </div>
        </section>
    </section>


    <nav class="sliding-menu">
        <div class="logo-name">
            <div class="logo-img">
                <img src="img/logo.png" alt="logo">
            </div>
            <span class="logo_name">Petari</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                        <i class="uil uil-user-circle"></i>
                        <span id="Profile" class="link-name">Profie</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-dna"></i>
                        <span id="NGO" class="link-name">Donation Requests</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-crockery"></i>
                        <span id="Doners" class="link-name">Status Update</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-comment-medical"></i>
                        <span id="Complains" class="link-name">Raise Issues</span>
                    </a></li>
                <!-- <li><a href="#">
                        <i class="uil uil-map-marker-question"></i>
                        <span  id="Track" class="link-name">Track</span>
                    </a></li> -->

            </ul>
            <ul class="logout-mode">
                <li>
                    <a href="/admin-logout">
                        <i class="uil uil-sign-out-alt"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-wind-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Adityas end -->
    <script>
        function toggleMenu() {
            var menu = document.querySelector('.sliding-menu');
            menu.style.width = menu.style.width === '25%' ? '0' : '25%';
        }

        const body = document.querySelector("body");
        const modeToggle = body.querySelector(".mode-toggle");

        modeToggle.addEventListener("click", () => {
            body.classList.toggle("dark");
        });


        let Ngo = document.querySelector("#NGO");
        let Doners = document.querySelector("#Doners");
        let Profile = document.querySelector("#Profile");
        let complains = document.querySelector("#Complains");
        let NGO_sec = document.querySelector('.NGO-sec');
        let Profile_sec = document.querySelector('.Profile-sec');
        let Doners_sec = document.querySelector('.Doners-sec');
        let complain_sec = document.querySelector('.Complains-sec');

        Profile.addEventListener('click', (e) => {

            e.preventDefault();
            console.log("clicked")
            Profile_sec.style.display = "flex";
            NGO_sec.style.display = "none";
            Doners_sec.style.display = "none";
            complain_sec.style.display = "none";
        })

        Ngo.addEventListener('click', (e) => {
            e.preventDefault();
            console.log("clicked")
            Profile_sec.style.display = "none";
            NGO_sec.style.display = "block";
            Doners_sec.style.display = "none";
            complain_sec.style.display = "none";
        })
        Doners.addEventListener('click', (e) => {
            e.preventDefault();
            console.log("clicked")
            Profile_sec.style.display = "none";
            NGO_sec.style.display = "none";
            Doners_sec.style.display = "block";
            complain_sec.style.display = "none";
        })

        complains.addEventListener('click', (e) => {

            e.preventDefault();
            console.log("clicked")
            Profile_sec.style.display = "none";
            NGO_sec.style.display = "none";
            Doners_sec.style.display = "none";
            complain_sec.style.display = "block";

        })
    </script>
</body>

</html>