<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

        body {
            min-height: 100vh;
            background-color: var(--primary-color);
            transition: background-color var(--tran-03);
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        body.dark {
            --primary-color: #3A3B3C;
            --panel-color: #242526;
            --text-color: #CCC;
            --black-light-color: #CCC;
            --border-color: #4D4C4C;
            --toggle-color: #FFF;
            --box1-color: #3A3B3C;
            --box2-color: #3A3B3C;
            --box3-color: #CCC;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        /* aditya start */

        .Donatebox {
            display: flex;
            width: 35rem;
            height: 25rem;
            background-color: darkseagreen;
            justify-content: center;
            align-self: center;
            border-radius: 12%;
        }

        .NAME-block {
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            border-radius: 7%;
            padding-top: 5%;
            padding-left: 10%;
            height: 90%;
            width: 90%;
            background-color: var(--panel-color);
        }

        .top-border {
            
            border-style: double;
            border-color: #F07070;
        }

        .Left-name {
            display: inline-block;
            position: absolute;
            right: 3%;
            padding-top: 3px;
        }

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .middle {
            display: flex;
            padding: 9%;
            justify-content: center;
            align-content: center;
        }

        .dashboard {
            display: inline-block;
            height: 100vh;
            width: 100%;
        }

        .sliding-menu {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: var(--panel-color);
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
            max-width: 250px;
        }

        .menu-icon {
            cursor: pointer;
            z-index: 2;
        }
        .dash{
            position: absolute;
            left: 35px;
        }
        body.dark .top {
            background-color: #333;
            color: #FFF;
        }
        .donation{
            display: none;
        }

        .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .form-container {
    border: 1px solid #ddd;
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input[type="text"], input[type="number"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  select {
    margin-bottom: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th:last-child, td:last-child {
    text-align: center;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7%;
  }
  .button:hover {
    background-color: #3e8e41; /* Green hover */
  }

        /* aditya End */
        /* colors */
        :root {
            --primary-color: wheat;
            --panel-color: #FFF;
            --text-color: black;
            --black-light-color: #F07070;
            --border-color: #e6e5e5;
            --toggle-color: #DDD;
            --box1-color: #4DA3FF;
            --box2-color: #E7D1FC;
            --box3-color: #fff;
            /* transtions */
            --tran-05: all 05s ease;
            --tran-03: all 03s ease;
            --tran-03: all 02s ease;
        }

        nav .logo-name {
            display: flex;
            align-items: center;
        }

        nav .logo-img {
            display: flex;
            justify-content: center;
            min-width: 45px;
        }

        nav .logo-img img {
            width: 45px;
            object-fit: cover;
            border-radius: 50%;
        }

        nav .logo-name .logo_name {
            font-size: 22px;
            font-weight: 600;
            color: var(--text-color);
            margin-left: 14px;
        }

        nav .manu-items {
            margin-top: 40px;
            height: calc(100% - 90px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .manu-items li {
            list-style: none;
        }

        .manu-items li a {
            display: flex;
            align-items: center;
            height: 50px;
            text-decoration: none;
            position: relative;
        }

        .nav-links li a:hover:before {
            content: "";
            position: absolute;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: var(--primary-color);
            left: -7px;
        }

        .manu-items li {
            list-style: none;
        }

        .manu-items li a i {
            font-size: 24px;
            min-width: 45px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black-light-color);
        }

        .manu-items li a .link-name {
            font-size: 18px;
            font-weight: 400;
            color: green;
        }

        .nav-links li a:hover i,
        .nav-links li a:hover .link-name {
            color: var(--primary-color);
        }

        .manu-items .mode {
            display: flex;
            align-items: center;
        }

        .manu-items .mode-toggle {
            position: absolute;
            right: 14px;
            height: 50px;
            min-width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .mode-toggle .switch {
            position: relative;
            display: inline-block;
            height: 22px;
            width: 40px;
            border-radius: 25px;
            background-color: var(--toggle-color);
        }

        .switch::before {
            content: " ";
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            height: 15px;
            width: 15px;
            background-color: var(--panel-color);
            border-radius: 50%;
            transition: var(--tran-03);
        }

        body.dark .switch::before {
            left: 20px;
        }

        body.dark .middle {
            background-color: #333;
            color: #FFF;
        }
    </style>

    <!-- //icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <title>user DashBoard</title>
</head>

<body>
    <!-- Adityas Start -->

    <section class="dashboard">
        <div class="top">
            <div class="menu-icon" onclick="toggleMenu()">
                <i class="uil uil-bars"></i>
            </div>
            <div class="dash">DashBoard</div>
            <div class="Left-name">Welcome, <%= fullName %>!</div>
            
        </div>
        <hr class="top-border">
        <section class="Profile-sec">
            <div class="middle">
                <div class="Donatebox">
                    <div class="NAME-block">
                        <h4 class="User-Name">Full Name: <%= fullName %> </h4>
                        <h4 class="User-Email">Email:   <%= email %></h4>
                        <h4 class="User-Phone">Phone No:  <%= phoneNo %></h4>
                        <h4 class="User-Adderss">Address:  <%= address %> </h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="donation">
                <div class="container">
                    <div class="form-container">
                    <h2>Donation Form</h2>
                    <form id="donationForm">
                        
                        <label for="flatNo">Flat/Door/Building No.:</label>
                        <input type="text" id="flatNo" name="flatNo" required>
                        <label for="addressLine1">Street/Locality:</label>
                        <input type="text" id="addressLine1" name="addressLine1" required>
                        <label for="addressLine2">Area/Landmark (Optional):</label>
                        <input type="text" id="addressLine2" name="addressLine2">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" required>
                        <label for="state">State:</label>
                        <select id="state" name="state" required>
                        <option value="">Select State</option>
                        <option value="AP">Andhra Pradesh</option>
                        <option value="AR">Arunachal Pradesh</option>
                        <option value="AS">Assam</option>
                        <option value="BR">Bihar</option>
                        <option value="CH">Chhattisgarh</option>
                        <option value="GA">Goa</option>
                        <option value="GU">Gujarat</option>
                        <option value="HR">Haryana</option>
                        <option value="HP">Himachal Pradesh</option>
                        <option value="JH">Jharkhand</option>
                        <option value="KA">Karnataka</option>
                        <option value="KL">Kerala</option>
                        <option value="MP">Madhya Pradesh</option>
                        <option value="MH">Maharashtra</option>
                        <option value="MN">Manipur</option>
                        <option value="ME">Meghalaya</option>
                        <option value="MZ">Mizoram</option>
                        <option value="NL">Nagaland</option>
                        <option value="OD">Odisha</option>
                        <option value="PB">Punjab</option>
                        <option value="RJ">Rajasthan</option>
                        <option value="SK">Sikkim</option>
                        <option value="TN">Tamil Nadu</option>
                        <option value="TG">Telangana</option>
                        <option value="TR">Tripura</option>
                        <option value="UT">Uttarakhand</option>
                        <option value="UP">Uttar Pradesh</option>
                        <option value="WB">West Bengal</option>
                        </select>
                        <label for="zip">ZIP/Postal Code:</label>
                        <input type="text" id="zip" name="zip" required>
                
                        <h3>Food Inventory</h3>
                        <table>
                        <thead>
                            <tr>
                            <th>Food Item</th>
                            <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td><input type="text" name="foodItem" required></td>
                            <td><input type="number" name="quantity" min="1" required></td>
                            </tr>
                        </tbody>
                        </table>
                        <div style="display: flex; justify-content: center;">
                        <button type="button" class="button" onclick="addRow()">Add New Item</button>
                        <button type="button" class="button" onclick="deleteRow()">Delete Row</button>
                        </div>
                        <div style="display: flex; justify-content: center;">
                        <button  class="button" type="submit">Donate</button>
                        </div>
                        
                        
                    </form>
                    </div>
                </div>
            </section>
    </section>
    

    <!-- Adityas end -->
    <nav class="sliding-menu">
        <div class="logo-name">
            <div class="logo-img">
                <img src="img/logo.png" alt="logo">
            </div>
            <span class="logo_name">Petari</span>
        </div>
        <div class="manu-items">
            <ul class="nav-links">
                <li><a href="#">
                        <i class="uil uil-user-circle"></i>
                        <span id="Profile" class="link-name">Profile</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-restaurant"></i>
                        <span id="donate" class="link-name">Donate</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-map-marker-question"></i>
                        <span id="track" class="link-name">Track</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-comment-medical"></i>
                        <span id="contact" class="link-name">Contact Us</span>
                    </a></li>
            </ul>
            <ul class="logout-mode">
                <li>
                    <a href="/logout">
                        <i class="uil uil-sign-out-alt"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-wind-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <script>
        function toggleMenu() {
            let donate = document.querySelector('#donate');
            let profile = document.querySelector('#Profile');
            let Profile_sec = document.querySelector('.Profile-sec');
            let donation_sec = document.querySelector('.donation')
            
            donate.addEventListener('click', (e) => {
                Profile_sec.style.display = 'none';
                donation_sec.style.display = 'block';
            })
            profile.addEventListener('click', (e) => {
                Profile_sec.style.display = 'block';
                donation_sec.style.display = 'none';
            })

            var menu = document.querySelector('.sliding-menu');
            menu.style.width = menu.style.width === '25%' ? '0' : '25%';
        }

        const body = document.querySelector("body");
        const modeToggle = body.querySelector(".mode-toggle");

        modeToggle.addEventListener("click", () => {
            body.classList.toggle("dark");
        });
        function addRow() {
  const tableBody = document.querySelector('#donationForm tbody');
  const newRow = tableBody.insertRow();
  const foodItemCell = newRow.insertCell();
  const quantityCell = newRow.insertCell();

  foodItemCell.innerHTML = `<input type="text" name="foodItem" required>`;
  quantityCell.innerHTML = `<input type="number" name="quantity" min="1" required>`;
}

function deleteRow() {
  const tableBody = document.querySelector('#donationForm tbody');
  if (tableBody.rows.length > 1) {
    tableBody.deleteRow(tableBody.rows.length - 1);
  } else {
    alert("Cannot delete the only row");
  }
}
    </script>
</body>

</html>
